$button: linear-gradient(179.09deg, rgba(0, 153, 255, 1) -138.84%, #0041a3 99.22%);
$button-hover: #1759b2;
$red: #cc1c1c;
$bgc: linear-gradient(354.41deg, #cae6ff 2.07%, rgba(255, 255, 255, 0) 73.47%),
  linear-gradient(58.47deg, #daedff 5.94%, rgba(255, 255, 255, 0) 79.28%);
$text: #000;
$font: 'Oswald', sans-serif;
$title: #000;
$darkest-blue: #050039;
$quad: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
$grey: #5f5f5f;
$blue: #004282;
